.PropertyElementStyle1
{
    overflow: hidden;
    .box-content {
        overflow: hidden;
        position: relative;
    }
    .item-property {
        margin-bottom: var(--bs-gutter-x);
    }
    .wg-loading {
        min-height: 300px;
    }
}
